#contenedorR{
    background: linear-gradient(to bottom,rgb(70, 127, 214),rgb(131, 198, 214));
}
#tituloContenedorR{
    font-weight: bold;
    margin-left: 5px;
    font-size: 25px;
    color: aliceblue;
}
#textoContenedorR{
    color: aliceblue;
    font-weight: bold;
}
#logoLogin{
    height: 85px;
    margin-left: 15px;
    margin-bottom: 10px;
}
#botonLogin{
    font-weight: bold;
    font-style: italic;
    background: linear-gradient(to bottom,rgb(44, 92, 169),rgb(67, 175, 226));
}

#fondoLoginRegister{
    background: linear-gradient(to bottom,rgb(66, 95, 143),rgb(23, 180, 208));
}