:root {
    --blue: #6495ed;
    --white: #faf0e6;
}

body{
    background-color: rgb(35, 174, 255);
}

.tabs{
    background-color: #186386;
}

.cuidamarTitle{
    text-decoration: solid;
    font-size:170%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-right: 50%;
    margin-left: 3%;
    font-style: italic;
}

.cuidamarTitle:hover{
    color: black;
}

.buscar{
    width: 3%;
    height: 3%;
    margin-right: 2%;
}

.perfilIcon{
    height: 3%;
    width: 3%;
}

.iconoCuidamar{
    margin-top: 5px;
    height: 80px;
    margin-bottom: 5px;
}

.footer{
    background-color: #4d74bd;
    bottom: 0;
    height: 75px;
    position: fixed;
    width: 100%;
}

.imgPez{
    height: 40%;
}

.left{
    justify-content: flex-end;
    justify-items: end;
}
.right{
    margin-block-end: 0;
    margin-block-start: auto;
}

.row-flora{
    height: 100px;
    display: flex;
}
#imagenLogin {
    height: 55px;
    
}

#content{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content-user{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
}
#content-user-buttons{
    background-color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-width: 0px;
}
#content-user-info{
    background-color: white;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    padding:15px;
}

.col-alt{
    margin-right: 5%;
    margin-left: 5%;
}

.content-user-button-selected{
    border-left: solid 15px lightblue !important;
}

#content-user-profile{
    background-color: #4d74bd;
    color:white;
    font-size: 15px;
    border-radius: 10px;
    padding:10px;
    border: 0px;
}

#content-user-icon{
    border-radius: 100px;
    background-color: lightblue;
    padding: 20px;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}
#imagenMarFondo{
    background-image: url("../images/fondo_web.png");
    background-repeat: no-repeat;
}
#contenedorPeces{
    margin-top: 40px;
}
#deslizaText{
    color: white;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(17, 52, 75);
}
#downarrow{
    height: 50px;
}

#tituloPez{
    font-size: 25px;
    color: rgb(0, 56, 73);
    font-weight: bold;
}

#imgPez{
    height: 150px;
    margin-bottom: 100px;
    
    mix-blend-mode: multiply;
}

.modal-body{
    text-align: left;
}
#imagenDetalle{
    width: 450px;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
}

#imagenSolicitud{
    margin: auto;
    height: 250px;
    display: block;
    padding: 2px
}

.cuidamarForo{
    text-decoration: solid;
    font-size:170%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-left: -20px;
    margin-right: 20px;
    font-style: italic;
}

.cuidamarForo:hover{
    color: black;
}

#contenedorForoPost{
    border-style:groove;
    border-color: aliceblue;
    border-radius: 10px;
    background: linear-gradient(to bottom,rgba(52, 98, 172, 0.603),rgba(67, 176, 226, 0.5));
    color: white;
    font-weight: bold;
    font-size: 25px;
}

#contenedorPosteado{
    border-style:groove;
    border-color: aliceblue;
    border-radius: 10px;
    background: linear-gradient(to bottom,rgba(76, 136, 206, 0.863),rgba(149, 182, 255, 0.781));
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

#botonFav{
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    width: 130px;
}

#encabezadoComentario{
    color: black;
    opacity: 1.0;
}

#fondoComentario{
    background-color: black;
    background-blend-mode: color;
    opacity: 0.1;
}