:root {
    --blue: #6495ed;
    --white: #faf0e6;
}

body{
    background-color: var(--blue);
}

.tabs{
    background-color: #4d74bd;
}

.cuidamarTitle{
    text-decoration: solid;
    font-size:150%;
    font-weight: bold;
    color: black;
    padding-right: 70%;
    margin-left: 3%;
}

.cuidamarTitle:hover{
    color: black;
}

.buscar{
    width: 3%;
    height: 3%;
    margin-right: 2%;
}

.perfilIcon{
    height: 3%;
    width: 3%;
}

.iconoCuidamar{
    height: 5%;
    width: 5%;
}

.footer{
    background-color: #4d74bd;
    bottom: 0;
    height: 75px;
    position: fixed;
    width: 100%;
}

.imgPez{
    width: 200px;
    height: 150px;
}

.left{
    justify-content: flex-end;
    justify-items: end;
}
.right{
    margin-block-end: 0;
    margin-block-start: auto;
}

.row-flora{
    height: 100px;
    display: flex;
}